{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <!-- Add your CSS and other meta tags here -->
</head>
<body>

    {% include "navbar.html" %}
    <div class="container mt-4">
        {% if messages %}

            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

        {% endif %}


        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <!-- Add your JavaScript or other footer content here -->
</body>
</html>
